footer {
  display: grid;
  grid-template-columns: 1fr 2px 1fr;
  justify-items: center;
  align-items: center;
  background-color: #112d4e;
  color: #fff;
  padding: 2rem;
  img {
    width: 200px;
  }
  .VL {
    width: 100%;
    height: 100%;
    background-color: #3f72af;
  }
}
@media only screen and (max-width: 575px) {
  footer {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2px 1fr;
  }
}
