body {
  background: #333;
}

a {
  color: #11999E;
  margin: 10px 20px;
  font-family: 'Montserrat', sans-serif;
}


h3 {
  font-size: 2vw;
  font-weight: 600;
}


.bottom-con a:hover {
  background-color: #EAF6F6;
  border-radius: 50%;

}


.gridNavbar img {
  float: left;
}

.gridNavbar a {
  float: left;
  display: block;
  color: #EAF6F6;
  text-align: center;
  padding: 0.6rem;
  text-decoration: none;
  margin: 0 0 0 50px;
  font-weight: 500;
  border-radius: 5px;
}

.gridNavbar a:hover {
  background-color: #C1F0F9;
  color: #0B1026;
}

.gridNavbar a.active {
  background-color: #C1F0F9;
  color: #0B1026;
}

.bottom-con {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}