header {
  background-color: #112d4e;
  position: sticky !important;
  top: 0;
  right: 0;
  left: 0;
  z-index: 6;
  box-shadow: 0px 0px 10px 2px rgba($color: #000000, $alpha: 0.8);
}
@media only screen and (min-width: 576px) {
  header {
    .collapse {
      ul {
        li {
          margin: 0 1rem;
          // background-color: #3f72af;

          color: white;
          font-weight: 600;
          padding: 0.5rem 1.5rem;
          border-radius: 3rem;
          // box-shadow: 0px 5px 5px 1px rgba($color: #555, $alpha: 0.1);
          cursor: pointer;
          transition: 0.5s;
          &:hover {
            // font-size: 1.2rem;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 575px) {
  header {
    .collapse {
      ul {
        li {
          color: white;
          text-align: center;
          padding: 1rem;
          border-top: 2px solid #3f72af;
        }
      }
    }
  }
}
