#root {
  padding: 0 !important;
}
.ahmad::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f2bd57;
  opacity: 0.8;
  z-index: 0;
}
.ahmad {
  position: relative;
}
.form-login input,
.form-login button {
  border-radius: 10px !important;
  /* width: 15rem !important; */
}
.form-login {
  max-width: 40% !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.form-login img {
  filter: drop-shadow(4px 5px 1px rgba(0, 0, 0, 0.3));
  /* filter: drop-shadow(30px 10px 4px #4444dd); */
}
