html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.coverflow__figure__3bk_C,
.coverflow__cover__25-7e {
  outline: none;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
