.landing-page-container {
  width: 100%;
  height: 90vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.landing-page-video-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.landing-page-centered-video-text-con {
  background: white;
  position: relative;
  width: 100%;
  height: 100%;
  background: rgb(60, 60, 60);
  background: rgba(60, 60, 60, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigate-down-landing-page {
  position: absolute;
  bottom: 10%;
  right: 10%;
  color: #fff;
  cursor: pointer;
  font-size: 5rem;
}

.navigate-down-landing-page:hover {
  color: #bfcbd2;
  font-size: 5.5rem;
}
